importFrom("ggplot2", "autoplot")
importFrom("graphics", "plot")

export("AbdFreqCount")
export("AllenH")
export("AlphaDiversity")
export("AlphaEntropy")
export("autoplot")
export("as.AbdVector")
export("as.AccumCurve")
export("as.CommunityProfile")
export("as.ProbaVector")
export("as.SimTest")
export("as.SpeciesDistribution")
export("bcDiversity")
export("bcDqz")
export("bcGenSimpson")
export("bcGenSimpsonD")
export("bcHqz")
export("bcHqzBeta")
export("bcHurlbert")
export("bcHurlbertD")
export("bcPhyloBetaEntropy")
export("bcPhyloDiversity")
export("bcPhyloEntropy")
export("bcRao")
export("bcRichness")
export("bcShannon")
export("bcShannonBeta")
export("bcSimpson")
export("bcSimpsonBeta")
export("bcTsallis")
export("bcTsallisBeta")
export("BetaDiversity")
export("BetaEntropy")
export("CEnvelope")
export("ChaoPD")
export("CommunityProfile")
export("Coverage")
export("Coverage2Size")
export("Diversity")
export("DivAC")
export("DivEst")
export("DivPart")
export("DivProfile")
export("Dqz")
export("Enq")
export("EntAC")
export("EntropyCI")
export("expq")
export("expq.CommunityProfile")
export("GammaDiversity")
export("GammaEntropy")
export("GenSimpson")
export("GenSimpsonD")
export("Hqz")
export("HqzBeta")
export("Hurlbert")
export("HurlbertD")
export("is.AbdVector")
export("is.AccumCurve")
export("is.CommunityProfile")
export("is.DivEst")
export("is.DivPart")
export("is.DivProfile")
export("is.MCdiversity")
export("is.MCentropy")
export("is.MetaCommunity")
export("is.PhyloDiversity")
export("is.PhyloEntropy")
export("is.PhyloValue")
export("is.PPtree")
export("is.ProbaVector")
export("is.SimTest")
export("is.SpeciesDistribution")
export("KLq")
export("lnq")
export("lnq.CommunityProfile")
export("mergeandlabel")
export("MergeC")
export("MergeMC")
export("MetaCommunity")
export("Optimal.Similarity")
export("PDFD")
export("PhyloApply")
export("PhyloBetaEntropy")
export("PhyloDiversity")
export("PhyloEntropy")
export("plot")
export("Preprocess.MC")
export("Preprocess.Tree")
export("RACbstick")
export("RACgeom")
export("RAClnorm")
export("RAClseries")
export("Rao")
export("rCommunity")
export("Richness")
export("Shannon")
export("ShannonBeta")
export("Simpson")
export("SimpsonBeta")
export("ShuffleMC")
export("Tsallis")
export("TsallisBeta")

S3method("as.AbdVector", "data.frame")
S3method("as.AbdVector", "integer")
S3method("as.AbdVector", "numeric")
S3method("as.ProbaVector", "data.frame")
S3method("as.ProbaVector", "integer")
S3method("as.ProbaVector", "numeric")
S3method("as.SpeciesDistribution", "data.frame")
S3method("as.SpeciesDistribution", "integer")
S3method("as.SpeciesDistribution", "numeric")
S3method("autoplot", "AccumCurve")
S3method("autoplot", "CommunityProfile")
S3method("autoplot", "DivEst")
S3method("autoplot", "DivPart")
S3method("autoplot", "DivProfile")
S3method("autoplot", "PhyloValue")
S3method("autoplot", "SimTest")
S3method("autoplot", "SpeciesDistribution")
S3method("autoplot", "MCdiversity")
S3method("autoplot", "MCentropy")
S3method("Diversity", "ProbaVector")
S3method("Diversity", "AbdVector")
S3method("Diversity", "integer")
S3method("Diversity", "numeric")
S3method("Dqz", "ProbaVector")
S3method("Dqz", "AbdVector")
S3method("Dqz", "integer")
S3method("Dqz", "numeric")
S3method("GenSimpson", "ProbaVector")
S3method("GenSimpson", "AbdVector")
S3method("GenSimpson", "integer")
S3method("GenSimpson", "numeric")
S3method("GenSimpsonD", "ProbaVector")
S3method("GenSimpsonD", "AbdVector")
S3method("GenSimpsonD", "integer")
S3method("GenSimpsonD", "numeric")
S3method("Hqz", "ProbaVector")
S3method("Hqz", "AbdVector")
S3method("Hqz", "integer")
S3method("Hqz", "numeric")
S3method("HqzBeta", "ProbaVector")
S3method("HqzBeta", "AbdVector")
S3method("HqzBeta", "integer")
S3method("HqzBeta", "numeric")
S3method("Hurlbert", "ProbaVector")
S3method("Hurlbert", "AbdVector")
S3method("Hurlbert", "integer")
S3method("Hurlbert", "numeric")
S3method("HurlbertD", "ProbaVector")
S3method("HurlbertD", "AbdVector")
S3method("HurlbertD", "integer")
S3method("HurlbertD", "numeric")
S3method("PhyloBetaEntropy", "ProbaVector")
S3method("PhyloBetaEntropy", "AbdVector")
S3method("PhyloBetaEntropy", "integer")
S3method("PhyloBetaEntropy", "numeric")
S3method("PhyloDiversity", "ProbaVector")
S3method("PhyloDiversity", "AbdVector")
S3method("PhyloDiversity", "integer")
S3method("PhyloDiversity", "numeric")
S3method("PhyloEntropy", "ProbaVector")
S3method("PhyloEntropy", "AbdVector")
S3method("PhyloEntropy", "integer")
S3method("PhyloEntropy", "numeric")
S3method("plot", "AccumCurve")
S3method("plot", "CommunityProfile")
S3method("plot", "DivEst")
S3method("plot", "DivPart")
S3method("plot", "DivProfile")
S3method("plot", "MCdiversity")
S3method("plot", "MCentropy")
S3method("plot", "MetaCommunity")
S3method("plot", "PhyloValue")
S3method("plot", "PPtree")
S3method("plot", "SimTest")
S3method("plot", "SpeciesDistribution")
S3method("Rao", "ProbaVector")
S3method("Rao", "AbdVector")
S3method("Rao", "integer")
S3method("Rao", "numeric")
S3method("Richness", "ProbaVector")
S3method("Richness", "AbdVector")
S3method("Richness", "integer")
S3method("Richness", "numeric")
S3method("Shannon", "ProbaVector")
S3method("Shannon", "AbdVector")
S3method("Shannon", "integer")
S3method("Shannon", "numeric")
S3method("ShannonBeta", "numeric")
S3method("ShannonBeta", "ProbaVector")
S3method("ShannonBeta", "AbdVector")
S3method("ShannonBeta", "integer")
S3method("Simpson", "ProbaVector")
S3method("Simpson", "AbdVector")
S3method("Simpson", "integer")
S3method("Simpson", "numeric")
S3method("SimpsonBeta", "ProbaVector")
S3method("SimpsonBeta", "AbdVector")
S3method("SimpsonBeta", "integer")
S3method("SimpsonBeta", "numeric")
S3method("summary", "DivEst")
S3method("summary", "DivPart")
S3method("summary", "DivProfile")
S3method("summary", "MCdiversity")
S3method("summary", "MCentropy")
S3method("summary", "MetaCommunity")
S3method("summary", "PhyloDiversity")
S3method("summary", "PhyloEntropy")
S3method("summary", "PhyloValue")
S3method("summary", "SimTest")
S3method("Tsallis", "ProbaVector")
S3method("Tsallis", "AbdVector")
S3method("Tsallis", "integer")
S3method("Tsallis", "numeric")
S3method("TsallisBeta", "ProbaVector")
S3method("TsallisBeta", "AbdVector")
S3method("TsallisBeta", "integer")
S3method("TsallisBeta", "numeric")
